<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>

    <base href="{{url_base}}"/>

    <link rel="stylesheet" type="text/css" href="{{home_css}}"/>

    <title>{{title}}</title>
</head>

<body>
<h1>Home</h1>

<h3>Demo do {{blazar}}</h3>

<br>
<p>{{msg}}</p>
</body>
</html>